#toc {
    display: inline-block;
    margin-bottom: 1em;
    padding: .3em .5em;
    line-height: 1em;
}

#toc ul {
    padding: 0.2em;
    list-style: none;
    text-align: left;
}
#toc-header {
    padding: 0;
}
#toc ul li {
    padding:0;
}
#toc ul li a {
padding: .25em;
display: block;
}
li.toc1 a:before, li.toc2 a:before {
    content: "• ";
    /*content: "⁍⁃‣•◦∙";*/
}
li.toc3 a:before, li.toc4 a:before, li.toc5 a:before, li.toc6 a:before {
    content: "- ";
}
.toc1{margin-left: 0;}
.toc2{margin-left: 0;}
.toc3{margin-left: 2em;}
.toc4{margin-left: 4em;}
.toc5{margin-left: 6em;}
.toc6{margin-left: 8em;}

a.toc-nav {
display:none;
vertical-align: middle;
/* absolute size - always small, regardless of header font size */
font-size: 1rem;
line-height:1rem;
}

h1:hover a.toc-nav,
h2:hover a.toc-nav,
h3:hover a.toc-nav,
h4:hover a.toc-nav,
h5:hover a.toc-nav,
h6:hover a.toc-nav {
    display:initial;
    text-decoration:none;
}
